In [13]:
import pandas as pd
data1 = pd.read_excel('C:/Users/HP/Desktop/Athar_Author_new.xlsx', header = 0)
data2 = pd.read_excel('C:/Users/HP/Desktop/Author_scores.xlsx', header = 0)

In [14]:
data1_long = data1.melt(id_vars=['Paper'], value_vars=data1.columns[1:], var_name='AuthorNumber', value_name='Author')

In [15]:
# Adding the number of publication for each author by considering even the articles with 0 citation instances i.e. from the citing article list
data1_long.fillna('')
data1 = data1_long[data1_long['Author']!='']
no_of_pub = []
for i in data2.index:
    fil_d = data1[data1['Author'] == data2['Author'][i]]
    no_of_pub.append(len(fil_d))
data2['No of publication'] = no_of_pub

In [16]:
data2

,Author,No of Citing Papers,No of Citation Sentences,Sentiment Score,No of publication
0,"Jing, Hongyan",13,23,4.125,7
1,"McKeown, Kathleen",13,23,4.125,21
2,"Cutting, Doug",60,81,3.750,1
3,"Kupiec, Julian",60,81,3.750,2
4,"Pedersen, Jan",60,81,3.750,1
...,...,...,...,...,...
302,"Ostler, Nicholas",5,6,0.875,1
303,"Atkins, B. T. S.",5,6,0.875,1
304,"Grefenstette, Gregory",4,6,-0.875,4
305,"Ramshaw, Lance",109,210,4.875,6
306,"Ratnaparkhi, Adwait",166,244,10.500,5

In [17]:
data2.to_excel('C:/Users/HP/Desktop/Author_scores.xlsx', index = False)