In [12]:
import pandas as pd
data = pd.read_excel('C:/Users/HP/Desktop/Author_EdgeList_Filtered.xlsx', header = 0)
data.head()

,Citing Paper,Citing Author,Cited Paper,Cited Author,Sentence,P_Score
0,H05-1033,"Sporleder, Caroline",A00-2024,"Jing, Hongyan",Table 3: Example compressions Compression AvgL...,0.0
1,H05-1033,"Sporleder, Caroline",A00-2024,"McKeown, Kathleen",Table 3: Example compressions Compression AvgL...,0.0
2,H05-1033,"Lapata, Mirella",A00-2024,"Jing, Hongyan",Table 3: Example compressions Compression AvgL...,0.0
3,H05-1033,"Lapata, Mirella",A00-2024,"McKeown, Kathleen",Table 3: Example compressions Compression AvgL...,0.0
4,I05-2009,"Tanaka, Hideki",A00-2024,"Jing, Hongyan",5.3 Related works and discussion Our two-step ...,0.5

In [13]:
# Creating a dictionary to store the cumulative P_Score and track the occurrence of (Citing PaperID, Cited PaperID) for each (Citing Author, Cited Author) pair
cumulative_scores = {}

# Iterating through each row in the data
for i in data.index:
    key = (data['Citing Author'][i], data['Cited Author'][i])
    p_score = data['P_Score'][i]
    paper_id_pair = (data['Citing Paper'][i], data['Cited Paper'][i])
    
    # If the (Citing Author, Cited Author) pair exists in the dictionary,
    # check if the (Citing PaperID, Cited PaperID) pair is encountered for the first time
    if key in cumulative_scores:
        if paper_id_pair not in cumulative_scores[key][2]:  # Checking occurrences for the specific (Citing Author, Cited Author) pair
            cumulative_scores[key][2].add(paper_id_pair)  # Adding the (Citing PaperID, Cited PaperID) pair to occurrences to check if in further iteration if this citation is already counted
            cumulative_scores[key][0] += 1
        cumulative_scores[key][1] += p_score # Adding Sentiment Score for each instance
    else:
        cumulative_scores[key] = [1, p_score, {paper_id_pair}]  # Initializing the set with the first (Citing PaperID, Cited PaperID) pair

# Converting the dictionary into the desired format and storing it in the ndf list
ndf = [[key[0], key[1], value[0], value[1]] for key, value in cumulative_scores.items()]

In [14]:
new_df = pd.DataFrame(ndf)

In [15]:
new_df[new_df[0]== 'Barzilay, Regina']

                      0                          1  2      3
38     Barzilay, Regina              Jing, Hongyan  1  0.000
39     Barzilay, Regina          McKeown, Kathleen  1  0.000
742    Barzilay, Regina              Clarke, James  1 -0.375
743    Barzilay, Regina            Lapata, Mirella  1 -0.375
975    Barzilay, Regina              Johnson, Mark  1  0.000
1778   Barzilay, Regina             Daume III, Hal  1  0.250
1779   Barzilay, Regina              Marcu, Daniel  3  0.375
2673   Barzilay, Regina            Brown, Peter F.  4  0.375
2674   Barzilay, Regina   Della Pietra, Vincent J.  4  0.375
2675   Barzilay, Regina          deSouza, Peter V.  1  0.125
2676   Barzilay, Regina            Lai, Jenifer C.  1  0.125
2677   Barzilay, Regina          Mercer, Robert L.  4  0.375
4499   Barzilay, Regina      Della Pietra, Stephen  3  0.250
8775   Barzilay, Regina                  Wu, Dekai  1  0.125
10751  Barzilay, Regina             Haghighi, Aria  1  0.000
10752  Barzilay, Regina                 Klein, Dan  1  0.000
11571  Barzilay, Regina          Papineni, Kishore  5  1.875
11572  Barzilay, Regina                 Roukos, S.  5  1.875
11573  Barzilay, Regina                 Ward, Todd  5  1.875
11574  Barzilay, Regina              Zhu, Wei-Jing  5  1.875
12639  Barzilay, Regina       Echihabi, Abdessamad  2  0.125
12758  Barzilay, Regina              Turney, Peter  1 -1.000
13068  Barzilay, Regina           Collins, Michael  4 -1.875
13069  Barzilay, Regina               Roark, Brian  2 -0.875
13200  Barzilay, Regina                   Pang, Bo  2 -1.250
13201  Barzilay, Regina               Lee, Lillian  2 -1.250
15320  Barzilay, Regina               Biadsy, Fadi  1  0.375
15321  Barzilay, Regina          Hirschberg, Julia  1  0.375
15322  Barzilay, Regina            Filatova, Elena  1  0.375
15825  Barzilay, Regina            Yarowsky, David  1  0.000
16340  Barzilay, Regina            Goldstein, Jade  1  0.125
16341  Barzilay, Regina              Mittal, Vibhu  1  0.125
16342  Barzilay, Regina           Carbonell, Jaime  1  0.125
16343  Barzilay, Regina           Kantrowitz, Mark  1  0.125
16625  Barzilay, Regina  Vaithyanathan, Shivakumar  1 -0.875
16868  Barzilay, Regina              Lin, Chin-Yew  1 -0.125
17043  Barzilay, Regina        Banerjee, Satanjeev  1  0.000
17044  Barzilay, Regina                Lavie, Alon  1  0.000

In [16]:
new_df.columns = ['Citing Author', 'Cited Author', 'No of Citations', "Total Scores"]

In [17]:
new_df.to_excel('C:/Users/HP/Desktop/Author_EdgeList_Weighted.xlsx', index = False)